/*Página Contato*/

/*Header*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

/*Classes Auxiliares*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;    
}

.clear{clear: both}

.w60{
    width: 60%;
    float: left;
}

.w40{
    width: 40%;
    float: left;
}

.w50{
    width: 50%;
    float: left;
}

.w33{
    float: left;
    width: 33.3%;
}

.w100{
    width: 100%;
    float: left;
}

.center{
    text-align: center;
}

/*Classes do site*/
header{
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: white;
    width: 100%;
    box-shadow: 1px 1px 2px #ccc;
}

.logo{
    float: left;
    margin-top: 0.8%;
    margin-bottom: 5px;
}

.logo a{
    text-decoration: none;
    color: black;
}

.logo h1{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: #B93160;
}

/*Menu-desktop*/
nav.menu-desktop{
    float: right;
}

nav.menu-desktop ul{
    position: relative;
    top: 12px;
}

nav.menu-desktop li{
    display: inline-block;
    padding: 0 10px;
    font-weight: lighter;
    font-size: 20px;
}

nav.menu-desktop a{
    color: black;
    text-decoration: none;
}

nav.menu-desktop a:hover{
    color: #B93160;
}

/*Section Banner*/

section.title-page{
    margin-top: 82px;
    padding: 30px;
    width: 100%;
    min-height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

section.title-page h2{
    color: #B93160;
    font-size: 35px;
    font-weight: normal;
}

section.title-page p{
    font-weight: lighter;
    font-size: 16px;
    color: white;
    margin-top: 10px;
}

section.title-page > .container{position: relative;z-index: 101;}

.overlay__title-page{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

/*Section contato*/
section.contato{
    padding: 30px 0;
}

section.contato .w50,
section.contato .w100{
    padding: 0 10px;
}

input,
textarea{
    outline: none;
}

.form form{
    margin-top: 10px;
}

.form h2{
    background: #DDDDDD;
    text-align: center;
    color: #acac9d;
    font-size: 15px;
    font-weight: normal;
    border-left: 3px solid #CCCCCC;
    padding: 4px 0;
}

.form input[type=email],
.form input[type=text]{
    width: 100%;
    height: 40px;
    border: 1px solid #CCC;
    margin-bottom: 15px;
    padding-left: 5px;
}

.form textarea{
    width: 100%;
    height: 120px;
    border: 1px solid #CCC;
    margin-bottom: 15px;
    padding: 10px;
    resize: none;
}

button{
    width: 98%;
    margin: 0 1%;
    background-color: #B93160;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
}

button:hover{
    background-color: #ff4385;
}

button:active{
    box-shadow: inset 0px 0px 20px #8d2448;
}


.tags-form{
    padding-left: 50px;
}

.tags-form h2{
    font-weight: lighter;
    font-size: 30px;
}

.tags-form h2 img{
    float: left;
    width: 30px; 
    height: 30px;
    margin-top: 5px;
}

.tags-form p{
    font-weight: lighter;
    font-size: 15px;
}

.tags-form p.tags-contato{
    color: white;
    background: #B93160;
    margin-top: 2.2%;
    padding: 6px 2px;
    font-weight: normal;
    padding-left: 29%;
}

.span-left{
    width: 30%;
}

.tags-form p.tags-contato img{
    float: left;
    height: 20px;
    margin-right: 5px;
}


/*Footer*/
.footer1{
    background: #B93160;
    padding: 20px 0;
}

.footer1 h2{
    font-weight: normal;
    font-size: 23px;
    color: white;
}

.footer1 p{
    margin-top: 4px;
    font-weight: lighter;
}

.footer1 a{
    color: white;
    text-decoration: none;
}

.footer1 a:hover{
    color: black;
}

.footer1 img{
    height: 32px;
    width: 32px;
    opacity: 0.6;
}

.footer1 img:hover{
    opacity: 1;
}

div.group-icons a{
    margin-top: 5px;
    display: inline-block;
    padding: 0 1px;
}

/*Footer2*/
.footer2{
    padding: 10px 0;
    background-color: #8d2448;
    text-align: center;
    color: white;
}

@media screen and (min-height: 800px){
    footer{
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    section.contato{
        margin-top: 70px;
    }

    .footer1{
        padding: 20px 0 65px 0;
    }
}
